<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742208436189-bb27ii9h9flfqv92g3qokr23j9tbm1au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742208436189-bb27ii9h9flfqv92g3qokr23j9tbm1au</string>
	<key>API_KEY</key>
	<string>AIzaSyBQms_JR3zeSSPEiBcadLkSo4x1N5gkwPs</string>
	<key>GCM_SENDER_ID</key>
	<string>742208436189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.H4H.TEKFIM</string>
	<key>PROJECT_ID</key>
	<string>voteapp-1ca21</string>
	<key>STORAGE_BUCKET</key>
	<string>voteapp-1ca21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742208436189:ios:a6608b54d98eaa6fa5a834</string>
</dict>
</plist>